.video-container {
  width: 50%;
  height: 400px;
  display: inline-block;
  background-color: #ffcd50;
  vertical-align: middle;
}
.additional-services .services {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
.additional-services .services .list-item {
  width: 400px;
  margin: 0 0 20px 30px;
}
.additional-services .services .list-item:first-child .heading {
  color: #ffcd50;
}
.services .list-item i {
  display: inline-block;
  margin-right: 20px;
}
.services .list-item .content {
  display: inline-block;
  width: 300px;
}
.services .list-item .heading {
  text-transform: uppercase;
  font-size: 16px;
}
.services .list-item .sub-heading {
  font-size: 12px;
}