.header-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.logo {
  width: 60px;
  vertical-align: middle;
}
.menu-link {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.menu-link a {
  margin-right: 2px;
  padding: 20px;
}
