.footer-container {
  background-color: #252b39;
  padding: 40px;
  color: #b0b2b7;
  font-size: 12px;
  text-align: center;
}
.wraper {
  width: 900px;
  margin: 0 auto;
}
.recent-posts {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
.recent-posts li {
  line-height: 2;
}
.recent-posts li:before {
  content: "\00BB";
  margin-right: 4px;
}
.recent-news {
  overflow: hidden;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
.recent-news p {
  display: inline-block;
  width: 120px;
  margin-left: 14px;
  vertical-align: middle;
}
.recent-news .box {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.recent-news .orange {
  background-color: #ff7a7b;
}
.recent-news .green {
  background-color: #7bffed;
}
.recent-news .news-list {
  margin-bottom: 20px;
}
.contact-info {
  width: 250px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
.info-content {
  line-height: 3;
}
.info-content li i {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
  line-height: 1;
  margin-right: 8px;
}
.info-content .value {
  vertical-align: middle;
  display: inline-block;
}
.recent-posts .heading,
.recent-news .heading,
.contact-info .heading {
  margin-bottom: 20px;
}
.link-conatainer {
  background-color: #4c5b6d;
  padding: 20px;
  text-align: center;
  color: #a3acc7;
}
.link-conatainer a {
  margin-right: 14px;
}